/* Buttons */

button {
   background-color: #eeeeee;
   position: float;
   text-align: center;
   vertical-align: middle;
   margin: 5px;
   padding: 5px;
   border-radius: 4px;
   border-width: 1px;
   font-size: 15px;
}

/* Form elements */
form {
   margin: 5px;
}

input {
   margin: 5px;
}

textarea {
   width: 200px;
   height: 200px;
   margin: 5px;
}

select {
   width: 150px;
   height: 200px;
   margin: 5px;
   onchange: 
}

/* Plot elements */

img {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   /*
   width: 545px;
   height: 461px;
    */
}

/* Layout elements */

.unselectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.selectable {
   -webkit-touch-callout: auto;
   -webkit-user-select: auto;
   -khtml-user-select: auto;
   -moz-user-select: auto;
   -ms-user-select: auto;
   user-select: auto;
}

canvas {
   position: absolute;
}

span {
   display: block;
   float: top;
   margin: 1px;
   padding: 1px;
   border: 2px solid #ff0000;
}

div {
   border: 1px solid #5500ff;
   margin: 5px;
}

div.c1 {
   float: left;
   overflow: hidden;
}

div.c2 {
   float: top;
}

#map {
   position: relative;
   left: 0px;
   top: 0px;
   overflow: hidden;
}

#mousePos {
   height: 25px;
}
























