/* Buttons */

button {
   background-color: #eeeeee;
   position: float;
   text-align: center;
   vertical-align: middle;
   margin: 5px;
   padding: 5px;
   border-radius: 4px;
   border-width: 1px;
   font-size: 15px;
}

/* Form elements */
form {
   margin: 5px;
}

input {
   margin: 5px;
}

textarea {
   width: 200px;
   height: 200px;
   margin: 5px;
}

select {
   width: 150px;
   height: 200px;
   margin: 5px;
   onchange: 
}

/* Plot elements */

img {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 545px;
   height: 461px;
}

/* Layout elements */

canvas {
   position: absolute;
   left: 0px;
   top: 0px;
}

div {
   border: 3px solid #5500ff;
   margin: 5px;
}

div.c1 {
   width: auto;
   float: left;
   display: inline-block;
}

div.c2 {
   float: top;
}

#map {
   position: relative;
   left: 0px;
   top: 0px;
   width: 545px;
   height: 461px;
}

#mousePos {
   height: 50px;
}